<template>
    <div class="container-animationPlayer">
        <div class="player-container">
            <template v-if="allcheck"> 
                <div class="player-tickets">
                    <el-button>TODOS</el-button>
                </div>
            </template>
            <template v-else> 
                <div class="player-tickets" v-for="user in viewuser" :label="user" :key="user.id">
                    <el-button>{{ user.firstname}} </el-button>
                </div>
            </template>
            
        </div>
        <div class="img-collector">
            <div class="txt-container">
                <div class="text-title">
                    <p>Participantes</p>
                </div>
                <div class="text-content">
                    <p>{{ viewuser.length }}</p>
                </div>
            </div>
            <div class="img-container">
                <img src="http://www.slotsup.com/wp-content/uploads/default/free-slots-online.svg" alt="slot">
            </div>
        </div>
    </div>
</template>
<script>
export default {
  props:["viewuser", "allcheck"],
  data(){
      return{
          slotPlayer: ''
      }
  },
  computed:{
  }
}
</script>

<style lang="scss">
@import "./../assets/styleAward/tools/index";

.container-animationPlayer{
    flex: 1;
    position: relative;
    .player-container{
        display: none;
        @include media-smd{
            display: block;
            
            position: relative;
            .player-tickets{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 180px;
                width: 100%;
                animation-delay: 0.5s;
                animation-name: downslace;
                animation-duration: 1s;
                .el-button{
                    width: 40%;
                }
            }
            @keyframes downslace {
                from {
                    top: 0;
                    // width: 120%;
                }
                to
                {
                    top: 100px;
                    // width: 50%;
                }
            }
        }
    }
    .img-collector{
        width: 100%;
        display: flex;
        justify-content: space-around;

        @include media-smd{
            position: relative;
            top: 100%;
            transform: translateY(-100%);   
            background-color: white;     
        }
        .txt-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // width: 50%;
            // float: left;
            .text-title{
                margin-left: 10px;
            }
            .text-content{
                margin-top: 10px;
                margin-left: 30px;
                width: 40px;
                height: 40px;
                padding: 5px;
                border-radius: 50%;
                border: 1px solid #409EFF;
                p{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .img-container{
            // float: left;
            // width: 50%;
            
            img{
                width: 120px;
            }
        }
    }    
}
</style>
