<template>
  <div class="content-animation">
    <h4>
      <span>T</span>
      <span>A</span>
      <span>N</span>
      <span>N</span>
      <span>D</span>
      <span>E</span>
      <span>R</span>
    </h4>
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="scss">
.content-animation{
  h4{
    font-size: 18px;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    font-family: Arial, Helvetica, sans-serif;
    span{
      color: #825886;
      background: #fff;
      padding: 10px 15px;
      display: table-cell;
      box-shadow: inset 0 0 5px rgba(0,0,0, .3), 0 5px 0 #F6A821;
      animation: jummping .5s infinite;

     &:nth-child(1){
       animation-delay: .2s;
     } 
     &:nth-child(2){
       animation-delay: .4s;
     } 
     &:nth-child(3){
       animation-delay: .6s;
     } 
     &:nth-child(4){
       animation-delay: .8s;
     } 
     &:nth-child(5){
       animation-delay: 1s;
     } 
     &:nth-child(6){
       animation-delay: 1.2s;
     } 
     &:nth-child(7){
       animation-delay: 1.4s;
     } 

    }
    @keyframes jummping 
    {
      0%
      {
        transform: translateY(0px);
        box-shadow: inset 0 0 5px rgba(0,0,0, .3), 0 5px 0 #F6A821, 0 15px 5px rgba(0,0,0,0);
      }
      50%
      { 
        transform: translateY(-20px);
        box-shadow: inset 0 0 5px rgba(0,0,0, .3), 0 5px 0 #F6A821, 0 15px 5px rgba(0,0,0,.6);
      }
      100%
      {
        transform: translateY(0px);
        box-shadow: inset 0 0 5px rgba(0,0,0, .3), 0 5px 0 #F6A821, 0 15px 5px rgba(0,0,0,0);
      }
    }
  }
}

</style>
