<template>
  <div class="lista">
    <div class="container-button">
      <div class="button-back">
            <router-link to="/wellcome" tag="span"><i class="el-icon-back"></i></router-link>      
      </div>
    </div>
    <div class="content-head">
      <h4>¿Cuantos ganadores habran?</h4>
      <el-button class="button-option" type="primary" @click="centerDialogVisible = true" round >Elige aquí</el-button>
    </div>

        
    <template v-if="centerDialogVisible">
    </template>    
    
    <div class="award-content-main">

      <!-- La lista de personas que puedes hacer check -->
      <div class="total">
      <h4>Opciones</h4>
      <div class="content-player">
        <div class="player-search">
          <el-input
            placeholder="Buscar"
            prefix-icon="el-icon-search"
            v-model="searchArray">
          </el-input>
        </div>
        <template >

          <el-checkbox class="allCheckOption" :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">Marcar todos</el-checkbox>         
          <el-checkbox-group v-model="checkedUser" @change="handleCheckedUsersChange">
              <el-checkbox-button v-for="user in buscarAlum" :label="user" :key="user.id">{{user.firstname}} {{user.lastname}}</el-checkbox-button>
          </el-checkbox-group>
        </template>
      </div>
    </div>

    <!-- Las personas que son escogidas, se muestra animacion -->
    <div class="participantes">
      <h4>Cantidad de Ganadores</h4>
      <div class="players">
        <p>A elegir:</p>
        <template v-if="awardNum==1"> 
          <div class="content-trofeos">
            <icon name="trophy"></icon>
          </div>
        </template>
        <template v-else-if="awardNum==2"> 
          <div class="content-trofeos">
            <icon name="trophy"></icon>
            <icon name="trophy"></icon>
          </div>
        </template>
        <template v-else-if="awardNum==3"> 
          <div class="content-trofeos">
            <icon name="trophy"></icon>
            <icon name="trophy"></icon>
            <icon name="trophy"></icon>
          </div>
        </template>
        <template v-else-if="awardNum>3"> 
          <div class="content-trofeos">
            <el-badge :value="awardNum" :max="3" class="item">
                <icon name="trophy"></icon>
            </el-badge>
          </div>
        </template>
      </div>
      <animationPlayer :viewuser="checkedUser" :allcheck="checkAll"></animationPlayer>   
    </div>   

    </div>

    <div class="content-foot">

      <!-- Boton para empezar el sorteo, dispara la animacion -->
      <template v-if="checkedUser.length==0">
        <el-button type="primary" 
            @click="winnerSerch"
            :disabled="toSelectRandomInit"
            round
            >Sortear</el-button>
            
      </template>

      <template v-else-if="checkedUser.length<awardNum">
        <transition name="aparecer" appear>
          <p>Agrega más participantes</p>
        </transition>
        <el-button type="primary" 
            @click="winnerSerch"
            :disabled="toSelectRandomInit"
            :class="{initSorteoAlert: checkedUser.length<awardNum}"
            round
            >Sortear</el-button>
            
      </template>
      <template v-else>
        <el-button type="primary" 
            @click="winnerSerch"
            round
            >Sortear</el-button>

      </template>
      
      
    </div>

    <!-- Ventanas modales -->

    <!-- Modal de animacionTo hacia /winners -->
    <template v-if="randomAwardSerch">
      <el-dialog
        title="Buscando ganadores..."
        :visible.sync="randomAwardSerch"
        class="animationTo"
       >

        <animationaward></animationaward>   
      
      </el-dialog>
    </template>
    
    <!-- Modal de configuracion para agregar la cantidad de ganadores -->
    <el-dialog    
      title="Configuracion de sorteo"
      :visible.sync="centerDialogVisible"
      center
      class="wrapper-modal">

        <div class="award-option">
          <div class="award-option__title">
                <p>Elija la cantidad de ganadores</p>
          </div>
          <div class="award-option__input">
            <el-input-number size="mini" v-model="awardNum" :min=1 :max=5></el-input-number>
            <div class="container-text" > <p v-if="awardNum>checkedUser.length">Agregue más participantes antes de sortear</p> </div>
          </div>

        </div>

        <span slot="footer" class="dialog-footer">
          <el-button @click="centerDialogVisible = false">Volver</el-button>
          <el-button type="primary" @click="centerDialogVisible = false; toAwardRandom=awardNum; toSelectRandomInit = false">Confirmar</el-button>
        </span>
    </el-dialog>
  </div>

  
</template>

<script>
import loginapp from "@/components/loginapp";
import configAward from "@/components/configAward";
import animationaward from "@/components/animationaward";
import animationPlayer from "@/components/animationPlayer";

import servicio from "@/helper/service";
import usuarios from "@/assets/data/dotabag";

// import json from './../assets/data/dotabag.json'; //importar el json

export default {
  name: "sorteo",
  data() {
    return {
      awardNum: 1,
      toAwardRandom: 0,
      toSelectRandomInit: true, //para iniciar la eleccion de ganadores
      centerDialogVisible: false,
      checkAll: false,
      checkedUser: [],
      users: [],
      isIndeterminate: true,

      searchArray: "", //busca en el array

      randomAwardSerch: false,

      toViewWinners: false,
      winnerUsers: []
    };
  },
  components: {
    loginapp,
    configAward,
    animationaward,
    animationPlayer
  },
  computed: {
    buscarAlum() {
      return this.users.filter(
        // player=> console.log(player.firstName)
        player => player.firstname.toLowerCase().includes(this.searchArray)
      );
    }
  },
  created: function() {
    servicio.getUserAll().then(response => {
      console.log("created hook");
      this.users = response.data;
    });
  },
  methods: {
    handleCheckAllChange(val) {
      this.checkedUser = val ? this.users : [];
      this.isIndeterminate = false;
    },
    handleCheckedUsersChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.users.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.users.length;
    },
    winnerSerch() {
      this.randomAwardSerch = true;
      let winnerarray = Object.assign([], this.checkedUser);
      let winners = this.awardNum;
      for (var i = 1; i <= winners; i++) {
        var total = winnerarray.length;
        var winnerindex = Math.floor(Math.random() * total);
        this.winnerUsers.push(winnerarray[winnerindex]);
        winnerarray.splice(winnerindex, 1);
      }
      this.sorteo();
      this.toNewRender(this.$router);
    },

    toNewRender(val) {
      setTimeout(function() {
        val.push("/winners");
      }, 3000);
    },

    sorteo() {
      this.randomAwardSerch = true;
      window.localStorage.setItem(
        "listselected",
        JSON.stringify(this.checkedUser)
      );
      window.localStorage.setItem(
        "listselected2",
        JSON.stringify(this.winnerUsers)
      );
    }
  },
  watch: {
    checkedUser: function(val) {
      this.toSelectRandomInit =
        this.checkedUser.length < this.awardNum ? true : false;
    }
  }
};
</script>
    
<style lang="scss">
@import url("//unpkg.com/element-ui@2.1.0/lib/theme-chalk/index.css");
@import "./../assets/styleAward/tools/index";
.lista {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-smd{
    border-radius: 10px;
    margin: 0 auto;
    overflow: auto;
    width: 90%;
  }

  .container-button {
    margin: 10px 0;
    .button-back {
      cursor: pointer;
      float: left;
      margin-left: 10px;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid #3a8ee6;
      span {
        color: #3a8ee6;
      }
    }
  }
  .content-head {
    margin: 10px auto;
    h4 {
      margin-bottom: 10px;
    }
    .button-option {
      margin: 0 auto;
    }
  }

  .award-content-main {
    margin: 10px 0;

    @include media-smd{
      display: flex;

    }
    .total {
      h4 {
        margin-bottom: 10px;
      }
      @include media-smd{
        width: 50%;
        // float: left;
      }
      .content-player {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        .el-checkbox{
          margin-bottom: 10px;
        }
        .el-checkbox-group {
          margin: 0 auto;
          display: block;
          overflow: auto;
          height: 100%;

          // flex: 1; //distribucion con respecto al eje principal en padre flex
          .el-checkbox-button:first-child {
            .el-checkbox-button__inner {
              border-radius: 0 0 0 0 !important;
            }
          }

          .el-checkbox-button {
            margin-left: 0;
            width: 100%;
            display: block;
            .el-checkbox-button__inner {
              width: 100%;
            }
          }
        }

        .player-search {
          width: 50%;
          margin: 0 auto 10px;
        }
      }
    }

    .participantes {
      @include media-smd{
        width: 50%;
        // float: right;
        display: flex;
        flex-direction: column;
      }
      .players {
        margin: 10px 0 20px;
        p {
          display: inline-block;
        }
        .content-trofeos {
          display: inline-block;
        }
      }
    }
  }

  .content-foot {
    margin: 10px 0;
    text-align: right;
    button {
      margin-right: 20px;
    }
    .initSorteoAlert {
      animation-name: shake;
      animation-duration: 0.5s;
    }
    p {
      color: #f56c6c;
      display: inline-block;
      font-size: 15px;
      margin-right: 20px;
    }
    @keyframes shake {
      from,
      to {
        transform: translate3d(0, 0, 0);
      }
      20%,
      60% {
        transform: translate3d(-10px, 0, 0);
      }

      40%,
      80% {
        transform: translate3d(10px, 0, 0);
      }
    }
  }

  //------------------Formating Element.io------------------//
  .wrapper-modal {
    .el-dialog--center {
      width: 100%;
      margin-top: 0 !important;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      @include media-smd{
        width: 50%;
        // float: right;
        display: flex;
        flex-direction: column;
      }
    }
    .award-option__input {
      .container-text {
        height: 24px;
        p {
          color: #f56c6c;
        }
      }
    }
  }

  .el-dialog {
    margin-top: 0 !important;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    .el-dialog__body {
      padding: 10px;
      .award-option {
        text-align: center;
      }
    }
    .el-dialog__footer {
      // display: none;
      text-align: center;
      padding-top: 20px;
    }
  }

  .animationTo{
    @include media-smd{
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    .el-dialog{
      width: 100%;
      margin: 0 !important;
      height: 250px;

      
    }
  }
}
</style>
