<template>
  <div class="container-winners">
    <div class="container-button">
        <div class="button-back">
            <router-link to="/wellcome" tag="span"><i class="el-icon-back"></i></router-link>
            
        </div>
        
    </div>
    <div class="container-participantes">
        <h4>Ganadores</h4>
        <div class="container-carousel">
            <el-carousel :interval="4000" type="card" height="200px" class="slice-config">
                <el-carousel-item v-for="item in lista" :key="item.id">
                    <div class="card-container">
                        <h4>{{ serch_id(item) }}</h4> 
                        
                        <img :src="item.picture" alt="perfil">
                        <h3>{{ item.firstname }}</h3>
                                        
                    </div>
                </el-carousel-item>
            </el-carousel>            
        </div>  
    </div>
    <div class="container-bottom">
        <el-button class="button-back" type="primary" round>Publicar en el Classroom</el-button>
    </div>
          
  </div>
</template>

<script>
export default {
    data(){
        return{
            lista: []

        }
    },

    created: function () {    
        var l=window.localStorage.getItem('listselected2')
        this.lista=JSON.parse(l)
    },
    methods:{
        serch_id(value){
            return this.lista.findIndex( 
                item => item == value
            )+1;
        }
        
    }

}
</script>
    
<style lang="scss">
@import "./../assets/styleAward/tools/index";

.container-winners{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-smd{
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .container-button{
        margin: 10px 0;

        .button-back{
            cursor: pointer;
            float: left;
            margin-left: 10px;
            padding: 10px;
            border-radius: 50%;
            border: 1px solid #3a8ee6;
            span{
                color: #3a8ee6;
            }
        }
    }

    .container-participantes{
        margin: 20px 0 10px;
        img{
            width: 50px;
        }
        h4{
            margin-bottom: 10px;
        }
    }

    .container-bottom{
        margin: 10px 0 20px;
    } 
}

.card-container{
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #409EFF;
    h4{
        padding: 20px 0;
        font-size: 3em;
    }
}
//-----------------Formating Element.io-------------------//
.container-carousel{
    width: 95%;
    margin: 0 auto;
    @include media-smd{
        width: 70%;
    }
}
</style>
