<template>
  <div class="secundario">
      {{title}}
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzC5wLeaVNi2Koq2SUaxoth0ERdnJyMGoPQVgZSKOuzvrMsXgx" alt="">
        <input type="text" v-model="name">
  </div>
</template>

<script>
export default {
  name: 'historia',
  props:["title","data","listenerFunc"],
  data(){
      return {
          msg: 'Topo mayor',
          name:"Hola"
      }
  },
  watch:{
      "name":function(n,o){
          console.log(n,o);
          this.listenerFunc(n);
      }
  }
}
</script>

<style>
img{
    width: 100px;
}
</style>
