<template>
  <div class="principal">
      <h1>La historia del Topo</h1>
      <ul>
          <li>Dia 1 <a href="#">{{ msg }}</a></li>
          <li>Dia 2</li>
          <li>Dia 3</li>
      </ul>
      <br>
      <div>Padre</div>
      {{msg}}
      <div>
          Hijo
      </div>
      <br>
      <Hijo :title="titleParent" :data="'Data strign'"  :listenerFunc="childEmit"/>
  </div>
</template>

<script>
import Hijo from "@/components/compHijo";

export default {
  name: 'padre',
  data(){
      return{
          msg: 'perdido',
          titleParent :"Titulo"        
    }
  },
  components:{
      Hijo
  },
  methods:{
      childEmit(data){
          this.msg=data;
          alert("No cambie el nombre!");
          
      }
  }
}
</script>

<style>
ul{
    list-style: none
}
</style>
