<template>
    <div class="award-option">
        <div class="award-option__title">
            <p>Elija la cantidad de ganadores</p>
        </div>
        <div class="award-option__input">
            <el-input-number size="mini" v-model="awardNum" :min=1 :max=5></el-input-number>
            <p v-if="awardNum>awardSelect.length">No hay suficientes participantes.</p>
            <ol>
                <li v-for="user in awardSelect" :key="user">{{user}}{{awardSelect.length}}</li>
            </ol>
        </div>

    </div>
</template>

<script>
export default {
  name:'awardconfig',
  props:['awardSelect'],
  data(){
      return{
          awardNum: 1,


      }
  }
}
</script>

<style lang="scss">
.award-option__title{
    margin-bottom: 10px;
}
</style>
