<template>
  <div class="firstcomp">
    <div class="container-main">
        <!-- Lista de elementos en el ASIDE se ocula y muestra con un boton
      <div class="container-main__aside" :class="{ asideToShow: renderShow}">
        <ul>
          <router-link to="/wellcome">Sorteo!</router-link>
        </ul>
      </div> -->

      <div class="container-main__layout">
        <!-- Gradiente de fondo de pantalla -->
        <div class="container-main__layout-image">
          <!-- Render de Componentes hijos de indexaward -->
          <router-view/>
        </div>
          
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'indexaward',
  props:["renderShow"],
  data(){
    return{
    }
  }
}
</script>

<style lang="scss">
@import "./../assets/styleAward/tools/index";

.firstcomp{
  padding-top: 55px;
  height: 100%;
  .container-main{
    height: 100%;
    .container-main__aside{ //---------------Aside------------------//
      background-color: #815985;
      width: 200px;
      position: absolute;
      z-index: 40;
      top: 0;
      left: -200px;
      height: 100%;
      ul{
        width: 100%;
      
        a{
          color: white;
          float: left;
          text-decoration: none;
          width: 100%;
          margin: 0 0 3px 0;
          padding: 5% 10%;
          display: block;
          background-color: #6f4b72
        }
      }
    }
    .asideToShow{
      left: 0;
    }
    .container-main__layout{// --------------- Contenedor Principal ----------------//
      height: 100%;
      .container-main__layout-image{
        position: relative;
        height: 100%;
        //overflow: auto;
        background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
</style>
