<template>
    <div class="text-award">
        <h2 class="all-devs">¡Bienvenido!</h2>

        <div class="layout-text">
          <img src="../assets/slotmachine.png" alt="slotmachine">
        </div>
        <h2 class="first-devs">¡Bienvenido!</h2>
        <div class="text">
          <p>Sorte es una aplicacion que te permite escoger de manera random entre un determinado
          numero de participantes uno o más personas.</p>
        </div> 
        <div class="button-redirect">
          <router-link to="/award"><el-button type="primary" round>Empezar</el-button></router-link>
        </div>
    </div>
</template>

<script>
import servicio from "@/helper/service";
import usuarios from "@/assets/data/dotabag";
export default {
  data() {
    return{
      // user:json
    }
  },
  methods: {
    //-------------Add General al API en loopback--------------//
    newDataInLoopback(){
      for (const user of usuarios.users) {
        servicio.addUser(user);
      }
      // .then(response => console.log(response))
      // .catch(error => console.log(error));
    }

  }
  
}
</script>

<style lang="scss">
@import "./../assets/styleAward/tools/index";
.text-award{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content:space-around ;

  @include media-smd{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
  }
  .all-devs{
    display: none;
  }
  .layout-text{
    height: 100%;
    padding: 10px 0;
    img{
      width: 200px;
    }
  }
  .first-devs{
    font-size: 14px;
    margin: 5px 0;
  }
  .text{
    // text-align: left;
    padding: 20px 5px;
  }
  .button-redirect{
    padding: 20px 0;
  }
}  
</style>
