<template>
    <!-- <el-container>
        <el-main class="container-main">
            <sorteo/>
        </el-main>
    </el-container> -->
    <div class="container-main">
        <sorteo/>
    </div>   
</template>

<script>
import sorteo from "@/components/award";
export default {
  components: {
      sorteo
  }
}
</script>

<style>
.container-main{
    /* padding: 0 !important; */

}
</style>
