<template>
    <div class="formularioVue">
        <div class="f-data">
            <label for="user">Username</label>
            <input type="text" placeholder="username">
        </div>
        <div class="f-data">
            <label for="password">Password</label>
            <input type="password" placeholder="password">
        </div>
        <button>Login</button>
        <a></a>
        <p>Si no tienes una cuenta <router-link to="/registro">Registrate aquí!</router-link></p>
    </div>
</template>

<script>
export default {
  name: 'loginapp',
  data () {
    return {
      msg: 'Login data'
    }
  }
}
</script>

<style>
    h1{
        margin: 0 auto;
    }
    .formularioVue{
        margin: 0 auto;
        border-radius: 5px;
        width: 80%;
        padding: 30px 5%;
    }
    .f-data{
        margin: 5px 0;
    }

</style>
