<template>
    <div class="prueba">
        <input type="text" :class="{'error':errors.has('email')}" v-validate="{required: true, email: true, min:1}" v-model="nombre">
        <br>
        <input type="text" v-model="apellido">

        <p>tu nombre es: {{ fullname }}</p>
        <button @click="greetings()">go</button>
    </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate)
export default {

  name: 'pruebasapp',
  data () {
    return {
      msg: 'registro data',
      nombre: '',
      apellido: ''
    }
  },
  computed: {
    fullname:function() {
        return this.nombre + ' ' + this.apellido
    }
  },
  methods:{
      greetings(){
          console.log(this.errors.has('email'))
      }
  }
}
</script>

<style>

</style>
