<template>
    <div class="formularioVue">
        <div class="f-data">
            <label for="name">Name</label>
            <input type="text" placeholder="name">
        </div>
        <div class="f-data">
            <label for="email">Email</label>
            <input type="email" placeholder="email">
        </div>
        <div class="f-data">
            <label for="password">Password</label>
            <input type="password" placeholder="password">
        </div>
        <button >Register</button>
        <button>Cancelar</button>
    </div>
</template>

<script>
export default {
  name: 'registroapp',
  data () {
    return {
      msg: 'registro data'
    }
  }
}
</script>

<style lang="scss">
    h1{
        margin: 0 auto;
        color: #000;
    }
    .formularioVue{
        margin: 0 auto;
        border-radius: 5px;
        border: 1px solid #000;
        width: 50%;
        padding: 30px 5%;
    }
    .f-data{
        margin: 5px 0;
    }
</style>
