<template>
  <div class="app">
    <div class="header-main" >
      <button @click="showAside = true" ><icon name="bars"></icon></button>
    </div>

    <div class="container-slide" :class="{nohidecontainer: showAside}">
      <div class="aside-main" >
          <!-- Lista de elementos en el ASIDE se ocula y muestra con un boton -->
        <ul>
          <li @click="showAside=false"><router-link to="/wellcome" >Sorteo!</router-link></li>
        </ul>
      </div>
      <div class="touch-hideaside" :class="{formattouch: showAside}" @click="showAside=false" >

      </div>
    </div>
    
    <router-view/>   
  </div>
</template>

<script>
import servicio from "@/helper/service";
import usuarios from "@/assets/data/dotabag";
export default {
  name: 'App',
  data(){
    return{
      showAside: false
    }
  },
  // created: function() {
  //   for (const user of usuarios.users) {
  //       servicio.addUser(user);
  //       // .then(response => console.log(response))
  //       // .catch(error => console.log(error));
  //     }
  // }
}
</script>

<style lang="scss">
@import "./assets/main.scss";
.app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  max-width: 1000px;
  text-align: center;
  height: 100%;
  .header-main{
    background-color: #815985;
    display: flex;
    height: 55px;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    z-index: 10;

    button{
      background: none;
      border: none;
      color: #fff;
      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
      outline: none;
      // &:active{
      //   border: none;
      // }
    }

  }

  .container-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -200px;
    transition: all 200ms ease-out;

    .aside-main{ //---------------Aside------------------//
    background-color: #815985;
    width: 200px;
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    height: 100%;
      ul{
        list-style: none;
        width: 100%;     
        a{
          color: white;
          float: left;
          text-decoration: none;
          width: 100%;
          margin: 0 0 3px 0;
          padding: 5% 10%;
          display: block;
          background-color: #6f4b72
        }
      }
    }
    .touch-hideaside{
      position: absolute;
      top: 0;
      left: 200px;
      // width: 100%;
      height: 100%;
      background-color: (0,0,0,0,.9);
      z-index: 40;
    }

    .formattouch{
      width: 100%;
    }

    
  }
  .nohidecontainer{
    left: 0;
  }
  
  

}
</style>

